@import "./root";
@import "./mixin/all";

body {
    @include text;
    
    display: flex;
    flex-direction: column;
    gap: $g-tiny;
    min-height: 100vh;
    color: $black;
    background-color: $bg;
    margin: 0;
}