$black: #0c0f0a;
$white: #ffffff;
$bg: $black;

$g-xl: 64px;
$g-lg: 44px;
$g-bg: 24px;
$g: 16px;
$g-md: 12px;
$g-sm: 8px;
$g-xs: 4px;
$g-tiny: 1px;

$gap-map: (
    xl: 64px,
    lg: 44px,
    bg: 28px,
    g: 16px,
    md: 12px,
    sm: 8px,
    xs: 4px,
    tiny: 4px,
);

$border-line: 2px solid $white;
