@import "@/style/root";
@import "@/style/mixin/all";

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 0 0 $black;
}

.copy {
    @include big-text;
}