@import "@/style/root";
@import "@/style/mixin/all";

.btn {
    text-decoration: none;
    font-family: inherit;

    @include text;

    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: linear-gradient($black 50%, $black 50%);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    padding: $g-sm $g;
    border: none;
    transition:
        background-size 0.6s 0s,
        opacity 0.6s 0s,
        color 0.6s 0s;
    cursor: pointer;

    &:active {
        opacity: 0.6;
    }

    &:disabled {
        opacity: 0.3;
        cursor: default;
    }

    &:not(:disabled):hover {
        background-size: 100% 100%;
    }

    &--card {
        @include big-text;

        text-align: center;
        color: $white;
        background-image: linear-gradient($white 50%, $white 50%);
        padding: $g-bg;

        &:not(:disabled):hover {
            color: $black;
        }
    }
}
