@import "@/style/root";
@import "@/style/mixin/all";

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $g;

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.messange-wrapp {
    grid-column: 1 / 4;

    @include mobile {
        grid-column: 1 / 2;
    }
}

.messange {
    height: 360px;
}

.btn {
    grid-column: 1 / 4;

    @include mobile {
        grid-column: 1 / 2;
    }
}